<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Resumen de la Historia</title>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet" />
</head>
<body class = "summary_body">
  <div class="notebook-summary">
    <header class="notebook-header">
      <h1>Resumen de la Historia</h1>
    </header>
  
    <div class="notebook-content">
      <pre></pre>
    </div>
  
    <footer class="notebook-footer">
      <button>Descargar Historia</button>
    </footer>
  </div>
  
</body>
</html>
