<div class="container"> 
  <!-- Botón para abrir/cerrar el menú -->
  <div class="menu-toggle-div" [class.open]="isMenuOpen">
    <button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
      <span class="toggle-icon" *ngIf="!isMenuOpen; else openIcon">→</span>
      <ng-template #openIcon>
        <span class="toggle-icon">←</span>
      </ng-template>
    </button>
  </div>

  <!-- Menú lateral -->
  <div class="sidebar" [class.open]="isMenuOpen">
    <button (click)="showDiary = false; showSummary = false">Ventana Principal</button>
    <button (click)="showDiary = true; showSummary = false">Ir al Diario</button>
    <button (click)="showSummary = true; showDiary = false">Ir al Resumen</button>
  </div>

  <!-- Contenido dinámico -->
  <div class="content" [class.shifted]="isMenuOpen">
    <app-diary *ngIf="showDiary && !showSummary"></app-diary>
    <app-summary *ngIf="showSummary && !showDiary"></app-summary>
    <app-history *ngIf="!showDiary && !showSummary"></app-history>
  </div>
</div>
